/* You can add global styles to this file, and also import other style files */
.header {
  margin: 50px;
}

.pageTitle {
  color: #007bff;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.carousel img {
  width: 100%;
  height: auto;
}
